# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/QSystem/build
/QSystem/target
!/QSystem/lib/*.jar
!/QSystem/lib/CopyLibs/*.jar
!/QSystem/languages/*.jar
!/QSystem/nbproject/
/QUser/build/
/QUser/target/
!/QUser/lib/CopyLibs/*.jar
!/QUser/lib/*.jar
!/QSystem/plugins/*.jar
!/QSystem/plugins/*.war
/QSmartboardPlugin/build/
/QSmartboardPlugin/dist/
!/QSmartboardPlugin/lib/CopyLibs/*.jar
/QSmartboardPlugin/nbproject/private/
/QSmartboard/build/
/QSmartboard/dist/
!/QSmartboard/lib/CopyLibs/*.jar
!/QSmartboard/lib/*.*
/dist/*.jar
/dist/*.war
/dist/www
/dist/config
/dist/icons
/dist/plugins
!/QSmartboard/lib/javaee-endorsed-api-6.0/*.jar
!/QSmartboard/lib/ext/*.*
!/QSmartboard/lib/theme/*.*
!/QSmartboard/lib/zkforge/*.*
!/QSmartboard/lib/zkforge/*.*
!/QSmartboard/web/WEB-INF/lib/*.*

