# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven builds
# CM comment:  This doesn't appear to be recursive. Need extra target excludes below
/*/target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/QSystem/build
# CM comment:  Added trailing slash to make it a directory.
/QSystem/target/
!/QSystem/logs
/dist
!/QSystem/nbproject/
/QUser/build/
/QUser/target/
/QSmartboardPlugin/build/
/QSmartboardPlugin/dist/
/QSmartboardPlugin/nbproject/private/
# CM comment:  Exclude the entire target directory.
/QSmartboardPlugin/target/
/QSmartboardPlugin/target/maven-archiver/pom.properties
/QSmartboard/build/
/QSmartboard/dist/
# CM comment:  Exclude target from QSmartboard
/QSmartboard/target/
/QSystem/nbproject/private/
/QUser/nbproject/private/

/dist/*.jar
/dist/*.war
/dist/www
/dist/config
/dist/icons
/dist/plugins
!/QSmartboard/web/WEB-INF/lib/*.*
!/QSkyApi/lib/zkex.jar
!/QSkyApi/web/WEB-INF/lib/zkex.jar
!/sonar-runner/gradle/wrapper/*.*
!/functional-tests/gradle/wrapper/*.*
/Seeder/target/
/functional-tests/build
/functional-tests/.gradle
/functional-tests/gebReports

*.iml
.idea
.DS_Store
.classpath
.project
.settings
nb-configuration.xml
