# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven builds
/*/target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/QSystem/build
/QSystem/target
!/QSystem/logs
/dist
QSystem/nbproject/private/
!/QSystem/nbproject/
/QUser/build/
/QUser/target/
QUser/nbproject/private/
/QSmartboardPlugin/build/
/QSmartboardPlugin/dist/
/QSmartboardPlugin/nbproject/private/
/QSmartboard/build/
/QSmartboard/dist/



/dist/*.jar
/dist/*.war
/dist/www
/dist/config
/dist/icons
/dist/plugins
!/QSmartboard/web/WEB-INF/lib/*.*
!/QSkyApi/lib/zkex.jar
!/QSkyApi/web/WEB-INF/lib/zkex.jar
!/sonar-runner/gradle/wrapper/*.*
!/functional-tests/gradle/wrapper/*.*
/Seeder/target/
/functional-tests/build
/functional-tests/.gradle
/functional-tests/gebReports