<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qsky</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property-->
    <property name="hibernate.connection.datasource">jdbc/mysql/qsky</property>

    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.pool_size">128</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.driverClassName">com.mysql.jdbc.Driver</property>
    <!-- property name="hibernate.hbm2ddl.auto">create-trop</property -->
    <!--property name="hibernate.hbm2ddl.auto">update</property-->

    <!-- Persistent classes -->

    <mapping class="ru.apertum.qsky.model.Branch"/>
    <mapping class="ru.apertum.qsky.model.Employee"/>
    <mapping class="ru.apertum.qsky.model.Service"/>
    <mapping class="ru.apertum.qsky.model.Customer"/>
    <mapping class="ru.apertum.qsky.model.Step"/>
    <mapping class="ru.apertum.qsky.model.pager.PagerData"/>
    <mapping class="ru.apertum.qsky.model.pager.PagerQuizItems"/>
    <mapping class="ru.apertum.qsky.model.pager.PagerResults"/>
  </session-factory>
</hibernate-configuration>
