<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- The following parameters are set in HibernateUtil.java -->
	
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qsky</property>
    <property name="hibernate.connection.username">user</property>
    <property name="hibernate.connection.password">password</property>
    <!--<property name="hibernate.connection.datasource">jdbc/mysql/qsky</property> -->

    
    <property name="c3p0.min_size">5</property>
      <property name="c3p0.max_size">20</property>

      <property name="c3p0.timeout">300</property>
      <property name="c3p0.max_statements">50</property>
      <property name="c3p0.idle_test_period">3000</property>
            <!--
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.connection.pool_size">128</property>
		
		-->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.driverClassName">com.mysql.jdbc.Driver</property>
		<!-- property name="hibernate.hbm2ddl.auto">create-trop</property -->
		<!-- property name="hibernate.hbm2ddl.auto">update</property-->

		<!-- Persistent classes -->

		<mapping class="ru.apertum.qsky.model.Branch"/>
		<mapping class="ru.apertum.qsky.model.Employee"/>
		<mapping class="ru.apertum.qsky.model.Service"/>
		<mapping class="ru.apertum.qsky.model.Customer"/>
		<mapping class="ru.apertum.qsky.model.Step"/>
		<mapping class="ru.apertum.qsky.model.pager.PagerData"/>
		<mapping class="ru.apertum.qsky.model.pager.PagerQuizItems"/>
		<mapping class="ru.apertum.qsky.model.pager.PagerResults"/>
	</session-factory>
</hibernate-configuration>
