/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2015, 3:49:12 PM
    Author     : Evgeniy Egorov
*/

body { padding: 0 0; background-color: #F2F2F3;  }



.headerDiv{
    background:#3399FF;
}

.lineDivOdd{
    background:#FFFFFF;
}

.lineDiv{
    background:#E0EDF2;
}

.headerLabel{
    padding: 0px 0px 0px 0px; font-family: 'Arial'; font-size: 50pt;
    color: black;
}

.textDiv{
    padding: 0px 0px 0px 0px; font-family: 'sans-serif'; font-size: 27pt;
    color: black;
}

.no_blink {
    padding: 0px 0px 0px 0px; font-family: 'Arial'; font-size: 50pt;
    color: blue;
}


.blink_me {
    padding: 0px 0px 0px 0px; font-family: 'Arial'; font-size: 50pt;
    color: red;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

